{% extends 'base.html' %}
{% load static %}
{% block head %}

<title>Login</title>
<style>
		/* body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		.user_card {
			width: 350px;
			margin-top: 6rem;
			margin-bottom: auto;
			background: #ACADA6;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 2rem;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: black;
		}

		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		} */

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
	</style>
{% endblock %}

{% block body %}


<!-- <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">LOGIN</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
                        <div class="text-center">
                            <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/en/4/4a/Indian_Institute_of_Information_Technology%2C_Design_and_Manufacturing%2C_Kancheepuram_logo.png" alt="" width="100" height="100" margin="10"
                            style="border-image: 20%;border-radius:50%; margin-bottom:2rem; background-color: white;">
                        </div> -->
						<!-- <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>

								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="text-center">
                                <button class="btn btn-primary" type="submit">Sign in</button>
                            </div>
					</form>

				</div>

				{% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %} -->

				<!-- <div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
					</div>

				</div>
			</div>
		</div>
	</div> -->
	<section class="vh-100" style="background-color: #9A616D;">
		<div class="container py-5 h-100">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-xl-10">
			  <div class="card" style="border-radius: 1rem;">
				<div class="row g-0">
				  <div class="col-md-6 col-lg-5 d-none d-md-block">
					<img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-135.jpg?w=2000"alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin-top: 5 rem;" />
				  </div>
				  <div class="col-md-6 col-lg-7 d-flex align-items-center">
					<div class="card-body p-4 p-lg-5 text-black">
	  
					  <form method="POST" action="">
						{% csrf_token %}
						<div class="d-flex align-items-center mb-3 pb-1">
						  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
						  <span class="h1 fw-bold mb-0">SmartHelmet</span>
						</div>
	  
						<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login</h5>
	  
						<div class="form-outline mb-4">
						  <input type="text" name="username" id="form2Example17" class="form-control form-control-lg" />
						  <label class="form-label" for="form2Example17">Username</label>
						</div>
	  
						<div class="form-outline mb-4">
						  <input type="password" id="form2Example27" name="password" class="form-control form-control-lg" />
						  <label class="form-label" for="form2Example27">Password</label>
						</div>
	  
						<div class="pt-1 mb-4">
						  <button class="btn btn-dark btn-lg btn-block" type="submit">Sign in</button>
						</div>
	
						{% for message in messages %}
							<p id="messages">{{message}}</p>
						{% endfor %}
						<!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
						<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'register' %}"
							style="color: #393f81;">Register here</a></p>
					  </form>
	  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
  {% endblock %}
